<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Log In</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="hideNshowProgressBar" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="userData.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="userData.password" name="password"></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-button color="success" [disabled]="hideNshowProgressBar" 
    expand="block" type="submit" (click)="loginUser()" class="ion-no-margin">
      Log In
    </ion-button>
  </div>
  <h5 class="ion-text-center" color="light">--- OR ---</h5>
  <div class="ion-padding">
    <ion-button  expand="block" (click)="signUpPage()"
      class="ion-no-margin">
      Sign Up
    </ion-button>
  </div>
</ion-content>