<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">list</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="hideNshowProgressBar" type="indeterminate"></ion-progress-bar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let  user of userDataArray">
      <ion-avatar slot="start">
        <img  *ngIf="user.imageUrl" src="{{user.imageUrl}}">
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="user.name">{{user.name}}</h2>
        <h3 *ngIf="user.email">{{user.email}}</h3>
        <p *ngIf="user.address">{{user.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>