<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="hideNshowProgressBar" type="indeterminate"></ion-progress-bar>
</ion-header>
<ion-content>
    <form>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea [(ngModel)]="userData.address" name="address"></ion-textarea>
      </ion-item>
      <ion-item>
        <input type="file" id="selectedImg" color="success" tappable (change)='uploadUserImage($event)'
          style="display: none;">
        <label for='selectedImg' title='Upload image' tappable style="color: #6c6ccb;border: 1px solid; padding: 5px;" >
           Upload Image
        </label> 
        <ion-avatar slot="end">
          <img *ngIf="!uploadImageLoader" src="{{downloadURL}}">
          <ion-spinner *ngIf="uploadImageLoader" name="bubbles"></ion-spinner>
        </ion-avatar>
      </ion-item>
      <div class="ion-padding">
        <ion-button  color="success" [disabled]="hideNshowProgressBar"  expand="block" type="submit" (click)="signUpUser()"
         class="ion-no-margin">
         Sign Up
        </ion-button>
      </div>
    </form>
   <h5 class="ion-text-center" color="light">--- OR ---</h5>
    <div class="ion-padding">
    <ion-button expand="block" (click)="loginPage()"
      class="ion-no-margin">
      Log In
    </ion-button>
  </div>
</ion-content>
