<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
     User Datails
    </ion-title>
    <ion-buttons slot="end" (click)="openListPage()">
      <ion-button color="primary">
        Users List
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="userData">
    <ion-avatar style="margin: auto;">
      <img *ngIf="userData.imageUrl" src="{{userData.imageUrl}}">
    </ion-avatar>
    <ion-item>
      <ion-label>Name</ion-label>
      <p *ngIf="userData.name">{{userData.name}}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <p>{{userData.email}}</p>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <p *ngIf="userData.address">{{userData.address}}</p>
    </ion-item>
  </ion-list>
</ion-content>
